{{- /*
  music163.html — 网易云音乐嵌入短代码
  用法: {{< music163 "1234567890" >}}
  或:   {{< music163 id="1234567890" type="song" >}}
  支持: 歌曲 ID、歌单 ID、类型选择（song/playlist/album）
*/ -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $type := .Get "type" | default "song" -}}
{{- $auto := .Get "auto" | default "0" -}}
<div class="video-embed music163-embed">
  {{- if eq $type "playlist" }}
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0"
    src="//music.163.com/outchain/player?type=0&id={{ $id }}&auto={{ $auto }}&height=430"
    loading="lazy"
    style="width:100%;height:430px;">
  </iframe>
  {{- else if eq $type "album" }}
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0"
    src="//music.163.com/outchain/player?type=1&id={{ $id }}&auto={{ $auto }}&height=430"
    loading="lazy"
    style="width:100%;height:430px;">
  </iframe>
  {{- else }}
  <iframe frameborder="no" border="0" marginwidth="0" marginheight="0"
    src="//music.163.com/outchain/player?type=2&id={{ $id }}&auto={{ $auto }}&height=100"
    loading="lazy"
    style="width:100%;height:100px;">
  </iframe>
  {{- end }}
</div>
